// Colors
$speedbump-color-text: #999;
$speedbump-bg-color-dialog: #fff;
$speedbump-bg-color-backdrop: rgba(0, 0, 0, .8);

// Widths
$speedbump-max-width-content: 22rem;

// Spacing
$speedbump-padding-content: 2rem;
$speedbump-padding-outer: .9375rem;