*~
.DS_Store
.idea
*.swp
*.tmp
/wp-temp
.sass-cache
.svn
.subversion
.gitconfig
._*
Thumbs.db
.ssh
.lesshst
.viminfo
*.zip
.composer
.bash_history
.mysql_history
.cache
.config
*.orig
node_modules
/vendor
/*/vendor
/composer.phar
.vagrant
ansible.log

# Base directories
/tmp
/Project
/archives
/conf
